@CHARSET "UTF-8";

#register-div {
	height: 700px;
	width: 600px;
	margin: 0 auto;
}

.field-alert {
	margin-left: 20px;
	color: #EA0000;
	display: none;
}

#validCode {
	width: 100px;
	vertical-align: middle;
}

#validImg {
	margin-left: 20px;
	vertical-align: middle;
}

#correctCode, #errorCode {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}